<p id="notice"><%= notice %></p>
<div class="container_12">
	<div id="poptext" class="grid_2">
	     <%= link_to (rating_gui(@tip.popularity)), "#", :class => "qtiper", :title => "<b style='color: #77B54E;'>" + @tip.popularity.to_s + ' tips-poäng har detta tips.</b>' %>
	</div>

	<div class="clear"></div>
	<div style="border-right: 1px dotted #DEDEDE;" class="grid_5">
	
		<h1><%= @tip.title %></h1>
		<p><%= @tip.text %></p>
		<p>Skapat av: </b>
	    <%= @user.name %></p>
	   
	<%= facebook_like %>
	<% #link_to('vote for this post!', vote_up_tip_path(@tip), :method => :get) %>

	</div>
	<div  class="grid_5">
		<%= link_to (image_tag @tip.image_url, :width => '350x350', :id => "placeholder" ),  @tip.image_url, :rel => "shadowbox", :title => @tip.title if @tip.image? %>
	</div>
</div>
