<p id="notice"><%= notice %></p>
<p>
  <h1><%= @tip.title %></h1>
 
</p>

<p>
  <%= @tip.text %>
</p>

<p>
<%= image_tag @tip.image_url, :width => '450x450' if @tip.image? %>
</p>

<p>
  <b>Skapat av:</b>
  <%= @user.name %>
</p>
<p style="">
<%= facebook_like %>
</p>
