<h1>Bli medlem på en minut helt gratis</h1>

<%= form_tag "/auth/identity/register", {:class => "rounded"} do %>
  <% if @identity && @identity.errors.any? %>
    <div class="error_messages">
      <h2><%= pluralize(@identity.errors.count, "error") %> prohibited this account from being saved:</h2>
      <ul>
      <% @identity.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= label_tag "Namn" %><br>
    <%= text_field_tag :name,  @identity.try(:name) %>
  </div>
  <div class="field">
    <%= label_tag :email %><br>
    <%= text_field_tag :email, @identity.try(:email) %>
  </div>
  <div class="field">
    <%= label_tag  "Lösenord" %><br>
    <%= password_field_tag :password %>
  </div>
  <div class="field">
    <%= label_tag "Bekräfta Lösenord" %><br>
    <%= password_field_tag :password_confirmation %>
  </div>
  <div class="actions"><%= submit_tag "" %></div>
<% end %>
