<h1>Listar tips</h1>
<p id="notice"><%= notice %></p>
<table>
  <tr>
    <th>Titel</th>
    <th>Bild</th>
    <th>Användare</th>
  </tr>
<% @tips.each do |tip| %>
<tr class="<%=cycle("even", "odd") %>">
    <td><%= link_to tip.title, show_tip_url(tip.id) %></td>
    <td><%= tip.image %></td>
    <td>To be...</td>
  </tr>
<% end %>
</table>
<%= link_to 'Back', tips_path %>