<h1>Listar tips</h1>
<p id="notice"><%= notice %></p>
<table>
  <tr>
    <th>Titel</th>
    <th>Bild</th>
    <th>Användare</th>
  </tr>
<% @tips.each do |tip| %>
<tr class="<%=cycle("even", "odd") %>">
    <td><%= link_to tip.title, show_tip_url(tip.id) %></td>
    <td><%= image_tag tip.image_url, :width => '150x150' if tip.image? %></td>
    <td>To be...</td>
  </tr>
<% end %>
</table>
<%= link_to "Add tip", new_tips_path %>
<%= link_to 'Tillbax', tips_path %>