<h1>29680 träffar i kategorin Damkläder (Exempel)</h1>
<%= link_to "Nytt tips i denna kategorin", new_tips_path %>
<p id="notice"><%= notice %></p>
<% #cycle("even", "odd") %>
<% @tips.each do |tip| %>
    <div id="tipholder" class="container_12">
      <div id="boxbody" class="container_12">
        <div class="grid_7">
          <div class="imageHolder">
            <%= link_to (image_tag tip.image_url(:thumb)), show_tip_url(tip.id) if tip.image? %> 
          </div>
          <div class="infoHolder">
            <%= link_to tip.title, show_tip_url(tip.id) %>
            <p><%= tip.text %></p>
          </div>
        </div>
        <div class="userHolder">
          <div class="grid_3">Användare</div>
        </div>
      </div>
    </div>

<% end %>
</table>
<div class="apple_pagination">
    <div clas="page_info">
     <%= will_paginate @tips %>
    </div>
  </div>
