<h1>Din profilsida</h1>
  <p>
    <strong>Name:</strong>
    <%= current_user.name %>
  </p>
  <p>
    <strong>Provider:</strong>
    <%= current_user.provider %>
  </p>
  <p>
    <strong>OmniAuth UID:</strong>
    <%= current_user.uid %>
  </p>
  
 <p><%= link_to 'Lägg till tips', new_tip_path %></p>
 <p><%= link_to 'Titta på dina tips', "tips#index" %></p>
 <p><%= link_to "Logga ut", logout_path %></p> 