<h1>Dina tips du har gjort</h1>
<% if @tips.empty? %>
  <p>Du har för tillfället inga tips, lägg till ett nedan.</p>
<% else %>
<table>
  <tr>
    <th>Titel</th>
    <th>Text</th>
    <th>Bild</th>
    <th>Användare</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tips.each do |tip| %>
<tr class="<%=cycle("even", "odd") %>">
    <td><%= best_in_place tip, :title%></td>
    <td><%= best_in_place tip, :text, :type => :textarea %></td>
    <td><%= tip.image %></td>
    <td><%= tip.user_id %></td>
    <td><%= link_to 'Visa', tip %></td>
    <td><%= link_to 'Editera', edit_tip_path(tip) %></td>
    <td><%= link_to 'Ta bort', tip, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<% end %>

