<p>
  <b>Title:</b>
  <%= best_in_place @tip, :title %>
</p>

<p>
  <b>Text:</b>
  <%= best_in_place @tip, :text, :type => :textarea %>
</p>

<p>
  <b>Image:</b>
  <%= image_tag @tip.image_url, :width => '150x150' if @tip.image? %>


</p>

<p>
  <b>User:</b>
  <%= @user.name %>
</p>
<p style="">
<%= facebook_like %>
</p>


<%= link_to 'Edit', edit_tip_path(@tip) %> |
<%= link_to 'Back', tips_path %>
