<!DOCTYPE html>
<html>
  <head>
    <title>www.ditt-tips.se, tipsa om vad du vill när du vill!</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
  </head>
  <body>

  <div id="wrapper">
    <div style="display: none;" id="login_form">
      <p>
          Var god logga in nedan:  
     </p>
    </div>
  <div style="display: none;" id="overlay">
  </div>

 
  <div id="topmenu">
  <ul>
    <li>
      <%= link_to image_tag("menu_home.png", :mouseover => "menu_home_hover.png", :alt => "Hemsida"), root_url %>
      </a>
    </li>
     <li>
       <%= link_to image_tag("menu_member.png", :mouseover => "menu_member_hover.png", :alt => "Medlem"), register_url %>
    </li>
     <li>
      <a href="/tips">
        <%= link_to image_tag("menu_browse.png", :mouseover => "menu_browse_hover.png", :alt => "Sök"), new_tips_url %>
      </a>
    </li>
      <li>
      
        <%= link_to image_tag("menu_contact.png", :mouseover => "menu_contact_hover.png", :alt => "Kontakt"), "/kontakt" %>
      </a>
    </li>
  </ul>
   <%= link_to "Logga in", "", :onclick => "return false;",  :id => "login_btn" %>
  </div>
<div id="over_head">
</div>
<div id="over_advert">
</div>
<div id="content">

<div id="headerPan">
  <div id="headerPanleft">
  </div>
  </div>

<div id="bodyPan">
  <div id="leftPan">
  </div>
  <div id="rightPan">
    <div id="rightbodyPan">
    <div class="contentcontainer">
      
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <% end %>
        <%= yield %>
      </div>
    </div>
  </div>
</div>
</div>
<div id="footerPan">
  <div id="footernextPan">
  <ul>
  <li><a href="#">Home </a>| </li>
  <li><a href="#">About us</a> | </li>
  <li><a href="#">Support </a>| </li>
  <li><a href="#">Clients</a> | </li>
  <li><a href="#">Contact </a> </li>
  </ul>
   <p>©green solution all right reaserved</p>
    <ul class="templateworld">
    <li>Design By:</li>
  <li><a href="http://www.templateworld.com" target="_blank">Template World</a></li>
  </ul>
   <div id="footerPanhtml"><a href="http://validator.w3.org/check?uri=referer" target="_blank">XHTML</a></div>
   <div id="footerPancss"><a href="http://jigsaw.w3.org/css-validator/check/referer" target="_blank">CSS</a></div>
  </div>
</div>
</div>


