<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<link  href="http://fonts.googleapis.com/css?family=Quattrocento+Sans:regular" rel="stylesheet" type="text/css" >    <title>www.ditt-tips.se, tipsa om vad du vill när du vill!</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
  </head>
<body>

<div class="container_12 clear-block">
 <div style="display: none;" id="login_form">
        <%= form_tag "/auth/identity/callback", :class => "login" do %>
        <div class="field">
          <%= label_tag :auth_key, "Email" %><br>
          <%= text_field_tag :auth_key %>
        </div>
        <div class="field">
          <%= label_tag :password %><br>
          <%= password_field_tag :password %>
        </div>
        <div class="actions"><%= submit_tag "Login" %></div>
        <% end %>
    </div>
     <div style="display: none;" id="overlay">
     </div>
	<div class="conatiner_12" id="header">
		<div class="grid_5" id="logos">
			<a href="">
  				<%= link_to image_tag("logo.png", :alt => "Hemsida"), root_url %>
			</a>
		</div>
		<div class="grid_4" id="nav">
			<ul>
			    <li>
			      <%= link_to image_tag("menu_home.png", :mouseover => "menu_home_hover.png", :alt => "Hemsida"), root_url %>
			      
			    </li>
			     <li>
			       <%= link_to image_tag("menu_member.png", :mouseover => "menu_member_hover.png", :alt => "Medlem"), register_url %>
			    </li>
			     <li>
			      
			        <%= link_to image_tag("menu_browse.png", :mouseover => "menu_browse_hover.png", :alt => "Sök"), cats_url %>
			      
			    </li>
			      <li>
			        <%= link_to image_tag("menu_contact.png", :mouseover => "menu_contact_hover.png", :alt => "Kontakt"), "/kontakt" %>
			      </a>
			    </li>
	  		</ul>
		</div>
		<div class="grid_3" id="login">
		<% if  !current_user %>
			<%= link_to image_tag("sign_in_btn.png", :onclick => "return false", 
	                             :mouseover => "sign_in_btn_hover.png",  
	                             :id => "login_btn"), "#" %>
           	<% else %>
           	<div id="logout_btn" class="grid_2">
           	<%= link_to image_tag("/assets/log_out_btn.png"), logout_path %> 
           	</div>       
        <% end %>
		</div>
	</div>

	<div class="container_12" id="header-inner">
	<div id="admin_menu">
		<% if  current_user %>
			<%= link_to "Mina tips", "/tips" %> 
			<%= link_to "Min profil", user_profile_path %>
		<% end %>
		</div>
	</div>
	<div class="container_12">
	<div id="main">
		
		<div class="grid_9" id="content">
			<% flash.each do |name, msg| %>
	          <%= content_tag :div, msg, :id => "flash_#{name}" %>
	        <% end %>
			<%= yield %>
		</div>
	</div>
	</div>
	<div id="footer">
		<p>www.ditt-tips.se</p>
	</div>

</div>
</body>
</html>
