<!DOCTYPE html>
<html>
  <head>
    <title>www.ditt-tips.se, tipsa om vad du vill när du vill!</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
  </head>
  <body>
  <div id="wrapper">
    <div style="display: none;" id="login_form">
        <%= form_tag "/auth/identity/callback", :class => "login" do %>
        <div class="field">
          <%= label_tag :auth_key, "Email" %><br>
          <%= text_field_tag :auth_key %>
        </div>
        <div class="field">
          <%= label_tag :password %><br>
          <%= password_field_tag :password %>
        </div>
        <div class="actions"><%= submit_tag "Login" %></div>
        <% end %>
    </div>
  <div style="display: none;" id="overlay">
  </div>
  <div id="topmenu">
  <ul>
    <li>
      <%= link_to image_tag("menu_home.png", :mouseover => "menu_home_hover.png", :alt => "Hemsida"), root_url %>
      </a>
    </li>
     <li>
       <%= link_to image_tag("menu_member.png", :mouseover => "menu_member_hover.png", :alt => "Medlem"), register_url %>
    </li>
     <li>
      <a href="/tips">
        <%= link_to image_tag("menu_browse.png", :mouseover => "menu_browse_hover.png", :alt => "Sök"), new_tips_url %>
      </a>
    </li>
      <li>
        <%= link_to image_tag("menu_contact.png", :mouseover => "menu_contact_hover.png", :alt => "Kontakt"), "/kontakt" %>
      </a>
    </li>
  </ul>
  </div>
  <div id="sign_in_btn">
       <%= link_to image_tag("sign_in_btn.png", 
                             :onclick => "return false", 
                             :mouseover => "sign_in_btn_hover.png",  
                             :id => "login_btn"), "#" %>
  </div>
<div id="over_head">
</div>
<div id="over_advert">
</div>
<div id="content">
<div id="headerPan">
  <div id="headerPanleft">
  </div>
  </div>
<div id="bodyPan">
  <div id="leftPan">
  </div>
  <div id="rightPan">
    <div id="rightbodyPan">
    <div class="contentcontainer">
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <% end %>
        <%= yield %>
      </div>
    </div>
  </div>
</div>
</div>
<div id="footer">
</div>
</div>


