<!DOCTYPE html>
<html>
  <head>
    <title>www.ditt-tips.se, tipsa om vad du vill n채r du vill!</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="container">
    <h1>V채lkommen till ditt-tips VANILA</h1>
      <div id="logedin_menu">
        <% if current_user %>
          <%= link_to 'Din profilsida', "/profile" %> - 
          <%= link_to 'L채gg till tips', new_tip_path %> -
          <%= link_to 'Titta p책 dina tips', "tips#index" %> -
          <%= link_to 'Logga ut', "/logout" %> 
        <% end %>
      </div>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
